# Private key mnemonic words
export L1_MNEMONIC="xxx xxx xxx xxx xxx xxx xxx xx xxx xxxx xxxx xxx"
# ./run_l2.bash script print-address --account l2owner
export L2_OWNER_ADDRESS=

export L1_RPC_URL=w

export L1_HTTP_RPC_URL=

export L1_CHAIN_ID=11155111

export CHILD_CHAIN_NAME=
# L1 ERC20 token address
export FEE_TOKEN_ADDRESS=

# ./run_l2.bash script print-private-key --account funnel
export ROLLUP_CREATOR_ADDRESS=

export L2_CHAIN_ID=

export IMPL_SALT=$(openssl rand -hex 32)

